@model IEnumerable<SchoolSystem.Models.classs>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.classname)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.classname)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ClassId }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Details", "Details", new { id=item.ClassId }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ClassId }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
